<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>this a Pug</h1>
    <p>this is a demo are pug which make pug easy to use</p>
</body>
</html>