doctype html
html
  head
    title Dance Website - Home
    block scripts
    block style
  body
  nav#navbar
    ul 
      div#logo
        img(src="/static/4.png", alt="logo")
        |ABC
      li #[a(href="/") Home]
      li #[a(href="/") About]
      li #[a(href="/") Contact]
      li #[a(href="/") Services]
    block content
    footer#footer
      | content @ 2023 ABC Dance Academy || All rights reserved.