//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
    title Dance Website - Home
  body
    nav#navbar 
    ul 
      li #[a(href="/") Home]
      li #[a(href="/about") About]
      li #[a(href="/services") Services]
      li #[a(href="/contact us") Contact Us]

    script
      include ../static/index.js